h1 {
    text-align: center;
    color: #333;
  }
  
  .cart,
  .favorites {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .cart-count,
  .favorites-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 14px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px;
    max-width: 300px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-color {
    font-size: 14px;
    color: #777;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  .card-btn{
  margin: 10px;
  font-size: 18px;
  background-color: transparent;
  border:1px solid rgb(199, 214, 224);
  }
  .favorite-star {
    color: #f1600c;
    font-size: 18px;
    cursor: pointer;
  }
  .unfavorite-star{
    color: rgb(244, 220, 170);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }
  .cart-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .cart-modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  
  .cart-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #555;
    cursor: pointer;
  }
  
  .cart-modal h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
  }
  
  .cart-modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-modal li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-modal li:last-child {
    border-bottom: none;
  }
  
  